.card {
  text-align: center;
  border-radius: 20px;
  background-color: var(--bs-white);
  padding: 1.6rem;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: var(--box-shadow-md);
  margin-bottom: 1rem;
}

.card:hover,
.card:active {
  background-color: var(--primary-transparent);
}

.card_active {
  background-color: var(--primary-transparent);
}

.image {
  max-width: 128px;
  width: 100%;
}

.line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  width: 40%;
  height: 1px;
  background-color: var(--primary);
  transition: all 0.5s;
}
.card:hover .line {
  width: 90%;
  background-color: var(--bs-white);
}

.line_active {
  width: 90%;
  background-color: var(--bs-white);
}

.title {
  color: var(--bs-gray-900);
  padding: 1rem 0;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}
.card:hover .title {
  color: var(--bs-white);
}
.title_active {
  color: var(--bs-white);
}

.arrow_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-inline: auto;
  background-color: var(--primary);
  fill: var(--bs-white);
  border-radius: 500px;
  padding: 2px;
  margin-top: 2rem;
}
.card:hover .arrow_icon {
  background-color: var(--bs-white);
  fill: var(--primary);
}
.arrow_icon_active {
  background-color: var(--bs-white);
  fill: var(--primary);
}

@media only screen and (min-width: 992px) {
  .card {
    max-width: 100px;
  }
}
