.categories {
  margin-inline: 2rem;
  margin-top: 1rem;
}

.slider {
  max-width: 80vw;
  margin-inline: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.title {
  margin-right: auto;
  font-size: 2rem;
}

.view_all {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.view_all h4 {
  font-size: 1.6rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 992px) {
  .slider {
    margin-top: 4rem;
  }

  .header {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .slider {
    margin-left: 4rem;
  }
}
