.button {
  outline: none;
  border: none;
  transition: all 0.3s;
  color: var(--bs-white);
  background-color: var(--primary);
  border-radius: 50px;
  width: 100%;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.button:hover {
  filter: brightness(80%);
  cursor: pointer;
}
