.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bs-white);
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.left_col {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--primary);
}

.copyright {
  color: var(--bs-gray-700);
}

.copyright span {
  color: var(--primary);
}
